.progressBar {
    position: relative;
    --width: 100%;
    appearance: none;
    overflow: hidden;
    height: 0.5rem;
    border-radius: 8px;
    background-color: #424242;
}

.progressBarUsage {
    display: block;
    height: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: width 0.5s ease-out, background-color 0.5s ease-out;
}

.progress_ring__circle {
    stroke-dasharray: 400, 400;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
